<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/irtgToolMyCopy/src/java/de/up/ling/irtg/gui/GuiMain.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="java.de.up.ling.irtg.gui.GuiMain"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="irtgToolMyCopy"/>
</launchConfiguration>
